#Cta {
  padding: 70px 0;
  & h2 {
    font-size: 1.5rem;
    line-height: 32px;
    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }
  & p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  & button {
    border: 1px solid white;
    padding: 10px 30px;
    margin: 0 10px;
    width: 200px;
  }
  .displayBtn {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
}
