#terms {
  height: 300px;
  background: url("/assets/banner/terms-condition-banner.jpg");
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  & h1 {
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    @media screen and (max-width: 450px) {
      text-align: center;
      font-size: 26px;
    }
  }

  & p {
    color: #fff;
    @media screen and (max-width: 450px) {
      text-align: center;
      font-size: 14px;
    }
  }
}
#details {
  & h1 {
    color: rgb(231, 96, 17);
    font-size: 18px;
  }
  & p,
  span,
  li,
  li p {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color: black;
  }
  & .privacy-box {
    background-color: #f1fafd;
    border: 2px solid rgb(231, 96, 17);
    padding: 25px;
    width: 600px;
    @media only screen and (max-width: 650px) {
      width: 420px;
    }
    @media only screen and (max-width: 450px) {
      padding: 10px 12px;
      width: 310px;
    }
  }

  & .privacy-box .nav-link {
    padding: 3px 0;
    font-size: 15px;
    color: rgb(182, 67, 0);
  }

  & .ml-5,
  .mx-5 {
    margin-left: 3rem !important;
  }
  & li {
    list-style: square;
    color: #7e7e7e;
  }
}
#download-2 {
  & .bg-inner {
    background-image: url("https://st.depositphotos.com/3230977/4235/i/450/depositphotos_42354059-stock-photo-man-with-suit-and-watch.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.616);
    position: relative;
    z-index: 1;
  }
    & .bg-scroll {
      width: 100%;
      background-attachment: fixed !important;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    & #Cta {
      padding: 70px 0;
      & h2 {
        font-size: 1.5rem;
        line-height: 32px;
        @media (min-width: 1200px) {
          font-size: 2rem;
        }
      }
      & p {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      & button {
        border: 1px solid white;
        padding: 10px 30px;
        margin: 0 10px;
        width: 200px;
      }
      .displayBtn {
        @media screen and (min-width: 768px) {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
