#terms {
  height: 300px;
  background: url("/assets/banner/terms-condition-banner.jpg");
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  & h1 {
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    @media screen and (max-width: 450px) {
      text-align: center;
      font-size: 26px;
    }
  }

  & p {
    color: #fff;
    @media screen and (max-width: 450px) {
      text-align: center;
      font-size: 14px;
    }
  }
}
#details {
  & h1 {
    color: rgb(231, 96, 17);
    font-size: 18px;
  }
  & p,
  span,
  li,
  li p {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color: black;
  }
  & .privacy-box {
    background-color: #f1fafd;
    border: 2px solid rgb(231, 96, 17);
    padding: 25px;
    width: 600px;
    @media only screen and (max-width: 650px) {
      width: 420px;
    }
    @media only screen and (max-width: 450px) {
      padding: 10px 12px;
      width: 310px;
    }
  }

  & .privacy-box .nav-link {
    padding: 3px 0;
    font-size: 15px;
    color: rgb(182, 67, 0);
  }

  & .ml-5,
  .mx-5 {
    margin-left: 3rem !important;
  }
  & li {
    list-style: square;
    color: #7e7e7e;
  }
}
